<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497705912262-cllmtte4ot30dfjcvv10vcl39r613j4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497705912262-cllmtte4ot30dfjcvv10vcl39r613j4a</string>
	<key>API_KEY</key>
	<string>AIzaSyCJYe5crHaI0IdM-QQ42MEeBt5pg6RaSE0</string>
	<key>GCM_SENDER_ID</key>
	<string>497705912262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.detectaballApp</string>
	<key>PROJECT_ID</key>
	<string>detectable-c9bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>detectable-c9bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497705912262:ios:23278d7d9cf1c223a2d4c7</string>
</dict>
</plist>